.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
html,
#root {
  background-color: lightskyblue;
  height: 100%;
  color: rgba(54, 24, 24, 0.671);
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  text-align: initial;
}
